@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Red Hat Display", sans-serif !important;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.download-section{
  position: fixed;
  right: 1%;
  top: 15%;
}
.down{
 
    font-size: 30px;
    color: #041287;
}
.home-main-div {
  width: 100%;
  height: 90vh;
  /* background-color: black; */
  display: grid;
  grid-template-columns: 40% 56%;
  grid-gap: 2%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.home-main-div > .same {
  width: 100%;
  height: auto;
}
.left-section {
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-section > img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 55%;
  height: 75vh;
}
.right-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.right-section > p {
  font-size: 22px;
  width: 97%;
  height: 80vh;
  word-wrap: break-word;
  text-align: center;
  font-family: monospace;
  text-align: start;
  word-wrap: normal;
  word-break: break-word;
  color: #727272;
  word-spacing: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

strong {
  text-transform: capitalize;
  color: #616060;
  font-weight: 600;
}
.clg {
  width: 100% !important;
  height: 80vh !important;
  border-radius: 5px;
}
.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(230, 225, 225);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.education-section,
.contact-section,
.skill-section {
  width: 100%;
  height: auto;
  border: 2px solid rgb(230, 225, 225);
  border-radius: 10px;
  margin-top: 20px;
  background: white;
  /* background-color: whitesmoke; */
}
.contact-section {
  height: 90vh;
}
/* //////////////////education */
.ed-home-main-div {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.ed-left-section {
  background: url("../IMG/education.png");
  height: 60vh;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: -1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.education-card {
  /* background: rgb(225 225 225); */
  margin-bottom: 10px;
  width: 94%;
  height: auto;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  background: linear-gradient(45deg, rgb(225 225 225), transparent);
}
.tf {
  font-size: 24px;
  color: rgb(59, 9, 9);
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0px;
  font-weight: 500;
}
.tt {
  font-size: 21px;
  color: rgb(153 153 153);
  text-transform: capitalize;
  text-align: center;
  margin: 3px 0px;
  font-weight: 400;
}
.tz {
  font-size: 19px;
  color: rgb(128, 125, 125);
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
}

.contact {
  width: 100% !important;
  height: 60vh !important;
  border-radius: 5px;
}
.info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 70vh;
  justify-content: center;
}
.icon {
  width: 10%;
  height: 5vh;
  margin: 10px 0px;
}
.span-icon-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.span-icon-div > span {
  display: block;
  font-size: 24px;
  text-transform: capitalize;
  font-family: sans-serif;
}
.span-icon-div > span > a {
  text-decoration: none;
  color: black;
}
.span-icon-div > span > a:hover {
  color: purple;
}

.whatsapp {
  color: green;
}
.mail {
  color: red;
}
.link {
  color: rgb(4, 143, 207);
}
.location {
  color: red;
}

.tech-img {
  width: 90% !important;
  height: 70vh !important;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px gray;
}

.link-main-div {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.link-card {
  width: 30%;
  height: 50vh;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gray;
}
.link-card > a > img {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .home-main-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  /* .home-main-div > .same{
        display: none;
        height: 61vh;
    } */
  .left-section {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 54vh !important;
  }
  .left-section > img {
    height: 50vh;
  }
  .right-section > p {
    font-size: 22px;
    width: 95%;
    height: auto;
  }
  .clg {
    height: 50vh !important;
    margin: 10px 0px;
  }
  .education-section,
  .contact-section,
  .skill-section {
    width: 100%;
    margin-top: 10px;
  }
  .education-card {
    margin-left: 3px;
  }
  .tech-img,
  .contact {
    height: 50vh !important;
  }
  .link-main-div {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .link-card > a > img {
    width: 100%;
    height: 40vh;
  }
  .link-card {
    width: 100%;
    height: 40%;
  }
}
